{% extends 'base.html.twig' %}

{% block body %}



    <div class="container mt-4">

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="row top-buffer">
                    <div class="col-md-12">
                        <div class="alert alert-{{ type }} alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row top-buffer bottom-buffer">

            <div class="col-md-5 card">
                <h3>Mot de passe oublié :</h3>
                <br />

                <form method="post">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                    <br />
                    <button class="btn btn-primary" type="submit">
                        Réinitialliser le mot de passe
                    </button>

                </form>
            </div>

            <div class="col-md-1">
            </div>
            <div class="col-md-4 card">
                <h3>Aide</h3>
                Merci de remplir le formulaire ci-contre, il vous permettra de recevoir un email avec les informations nécessaires à la création d'un nouveau mot de passe.
                <br /><br />
            </div>
        </div>
    </div>

{% endblock %}

{% block jquery %}

{% endblock %}

