{% extends 'base.html.twig' %}

{% block title %}Succes{% endblock %}

{% block body %}

    <div class="container mt-4 text-center">

        <div class="col">

            <br />
            <br />
            <br />
            <h1> Utilisateur enregistré</h1>

            <p> L'enregistrement de l'utilisateur s'est déroulé avec succès.</p>


            <br />

            <a href="{{ path('app_premier_enregistrement') }}" class="btn btn-primary"> Retour </a>
        </div>
    </div>
{% endblock %}
