{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <div class="row top-buffer bottom-buffer">
            <div class="col-md-8">

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <div class="alert alert-{{ type }} alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <p>{{ message }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}

                <form method="post">

                    <h1 class="h3 mb-3 font-weight-normal">Changement de mot de passe</h1>
                    <label for="inputPassword" class="">Mot de passe </label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <br />
                    <label for="inputPassword2" class="">Répéter le mot de passe </label>
                    <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Password" required>
                    <input type="hidden" name="token" value="{{ token }}">

                    <br />
                    <button class="btn btn btn-primary" type="submit">
                        Sauvegarder
                    </button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}

{% block jquery %}

{% endblock %}



