
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/data/
/logs/
/public/bundles/
/var/
/vendor/
.idea
###< symfony/framework-bundle ###
/public/uploads/
docker-compose.yaml
database.env
symfony.env
