version: "2.1"
services:
  db:
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "symfony"
      MYSQL_USER: "symfony"
      MYSQL_PASSWORD: "symfonypassword"
    volumes:
      - ./data/mysql:/var/lib/mysql

  php:
    build: php-fpm
    restart: unless-stopped
    volumes:
      - ./symfony:/var/www/symfony
      - ./logs/symfony:/var/www/symfony/app/logs
    links:
      - db
    working_dir: /var/www/symfony
    networks:
      default:
      traefik:

  nginx:
    build: nginx
    restart: unless-stopped
    links:
      - php
    volumes:
      - ./logs/nginx/:/var/log/nginx
      - ./symfony:/var/www/symfony
    networks:
      default:
      traefik:
    labels:
      traefik.docker.network: "traefik"
      traefik.enable: "true"
      traefik.frontend.passHostHeader: "true"
      traefik.port: "80"
      traefik.www.frontend.rule: "Host:adminchouettos.lachouettecoop.test"

  pma:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    links:
      - db
    networks:
      default:
      traefik:
    labels:
      traefik.docker.network: "traefik"
      traefik.enable: "true"
      traefik.frontend.passHostHeader: "true"
      traefik.port: "80"
      traefik.www.frontend.rule: "Host:pmadmin.lachouettecoop.test"

networks:
  default:
    internal: true
    driver_opts:
      encrypted: 1
  traefik:
    external: true
