@font-face{
	font-family: raleway;
	src:url(../fonts/Raleway-Medium.ttf);
	font-display: optional;
}
@font-face{
	font-family: ralewaybold;
	src:url(../fonts/Raleway-Bold.ttf);
	font-display: optional;
}
@font-face{
	font-family: latoRegular;
	src:url(../fonts/Lato-Regular.ttf);
	font-display: optional;
}
@font-face{
	font-family: latoBold;
	src:url(../fonts/Lato-Bold.ttf);
	font-display: optional;
}
html,
body {
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: latoregular, arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #f6f6f6;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*margin: 0 auto -180px; /* the bottom margin is the negative value of the footer's height */
}
.active{
	color: #B75025;
}
.active:visited{
	color: #B75025;
}
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 1.5em;
	line-height: 1;
	color: #3c3c3c;
	font-family: codeBold;
	display: inline-block;
}
.linkCrossedFx,.linkCrossedFx:visited {
	text-transform: uppercase;
	overflow: hidden;
	/*line-height: 0.8;*/
	color: #3c3c3c;
}

.linkCrossedFx:hover {
	color: #BD5000;
	text-decoration: none;
}
.map{
	margin-left: 35px;
}

.vid{
	position: absolute;
	width: 120vw;
	height: auto;
	left: -10vw;
	left: -10vw;
	top: 0;
	bottom: 0;
	object-fit: contain;
}
.logoFull{
}
#cookie-law-info-bar {
    background: #EDF8FF !important;
}
.headerContainer{
	height: 80px;
	background-color: #FFF;
}
.footer, .push {
	height: 300px; /* .push must be the same height as .footer */  
	color: #D4D4D4;
}
.footer {
	background-color: #262626;
}
.header {
	background-image: url(../images/fond_centre.png);
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
}

.bandGrey { background-color: #f6f6f6;}
.bandBlue { background-color: #414d58;}
.bandFootDark { background-color: #161616;}
.bandWhite { background-color: #FFF;}
.center{ text-align: center; }
.right{ text-align: right; }
.justify{ text-align: justify; }

.card {
	margin: 10px 0;
	border: 0;
	padding: 15px 20px;
	color: #3c4048;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.top-buffer { margin-top:20px; }
.top-sm-buffer { margin-top:10px; }
.left-buffer { margin-left: 30px; }
.small-buffer { margin-top:10px; }
.bottom-buffer { margin-bottom:50px; }
.bottom-sm-buffer { margin-bottom:20px; }
.top-buffer-50 { margin-top:80px; }
.valign {
	font-size: 0;
}
.valign > [class*="col"] {
	display: inline-block;
	float: none;
	font-size: 14px;
	font-size: 1.5rem;
	vertical-align: middle;
}


#cookie-bar {background:#111111; height:24px; line-height:24px; color:#eeeeee; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
#cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#0033bb;}
#cookie-bar .cb-policy:hover {background:#0055dd;}


h1 {  font-family: arial, serif; line-height: 1.25; margin: 0 0 0px; font-size: 22px; }
h1.slogan {  font-family: latoregular, serif; line-height: 1.25; margin: 0 0 0px; font-size: 28px;}
.gris{color: #535353;}
.whitey{color:#ffffff;}

.imgBtnOffset{
	margin-top: -4px;
}
.menu > *{
	float: right;
}
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 12px 0px 5px 0px;
}

.menu li{
	display: inline;
	margin:0px 30px 0px 0px;
	color: #414d58;
	font-family: latobold;
	font-size: 1em;
}

.menu li a{
  color: #414d58;
  cursor: pointer;
}

.clq li {
	margin:10px 0px 0px 0px;
	list-style: none;
	list-style-type:disc;
}
/*.clq li:before{ content:"-"; position:relative; left:-5px;}*/

.square{
	width: 130px;
	height: 90px;
	background-color: #1a8da8;
	color: #fff;
	text-align: center;
	font-size: 58px;
}
.titleCol{
	font-family: latoRegular;
	font-size: 26px;	
	text-transform: uppercase;
}
.align-menu{
	margin-top: -40px;
	margin-bottom: 15px;
}
.btnRounded{
	height: 26px;
	width: 130px;
	color: #FFF;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #93959c;
	background-color: rgba(255, 255, 255, 0);
}

.btn-blue {
	border-radius: 0px; 
	color: #4682B4;
	border-color: #4682B4;
}
.btn-blue:hover {
  background: #4682B4;
  color: #fff;
  border-color: #4682B4;		
}

.btn-primaryOrange {
	color: #FFF;
	background-color: rgb(251, 149, 7);
	border-color: rgb(170, 99, 0);
}
.btn-primaryOrange:hover {
	color: #FFF;
	background-color: rgb(251, 110, 7);
	border-color: rgb(170, 99, 0);
}

a.whiteLink{
	color: white;
	cursor: pointer;
}
a.whiteLink:hover{
	color: white;
	text-decoration: underline;
}
a.whiteLink:visited {
	color: white;
}

/****************
5 cols
****************/
.smTitle{
	color: #4d4d4d;
	font-family: ralewaybold;
	font-size: 16px;
}

.title{
	font-family: raleway;
	font-size: 24px;
}
.whiteTitle{
	font-family: raleway;
	font-size: 18px;
}

.titlePage{
	font-family: ralewaybold;
	font-size: 28px;
	text-transform: uppercase;
	color: #1a8da8;
}
.row300{
	height: 300px;
}
p {
	font-family: raleway;
}

.prbtn {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  color: white;
  text-align: center;
  /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);*/
  background: #2980b9;
  border: 0;
  border-bottom: 2px solid #2475ab;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2475ab;
  box-shadow: inset 0 -2px #2475ab;
}
.prbtn:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.prbtn:hover {
  top: 1px;
  color: white;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*=============================================*\
Video
\*=============================================*/
.header-container{
	position: relative;
	overflow: hidden;
	/*width:100vw;*/
	height:350px;
	max-height:100vh;
	text-align:center;
}
.video-container{
	position:absolute;
	height:100%;
	width:200%;
	left:-50%;
}
video {
	position:absolute;
	top: -99999px;
	bottom: -99999px;
	left: -99999px;
	right: -99999px;
	margin: auto;
	height: auto;
	min-height:100%;
	min-width:50%;
	z-index: -1;
}
.centerVideo{
	top: 50%;
	margin-top: -30px;
	position: relative;
}
.btn-orange {
	color: #ffffff;
	border-color: #ffffff;
	font-size: 16px;
	padding: 10px;
	border-radius: 0px;
}
.btn-orange:hover {
	background: #ffffff;
	color: #2a2a2a;
	border-color: #ffffff;		
}

/****************
My styles
****************/
.footTitle{
	color: #fff;
	margin-bottom: 15px;
	font-family: latobold;
	/*text-transform: uppercase;*/
	font-size: 22px;
}

.footerPad > a{
	display: block;
	margin-bottom: 4px;
}
a.greyLink{
	color: #606060;
	cursor: pointer;
}
a.greyLink:hover{
	color: #606060;
	text-decoration: underline;
}
a.greyLink:visited {
	color: #606060;
}

.footerPad{
	color: #606060;
	font-family: lato;
	font-size: 15px;
}
.socialLogo {
	margin-right: 10px;
}
/****************
Form
****************/
.formContact {
	width: 100%;
}


.newsPadding {
	padding-right: 0px;
	height: 150px;
}
.newsPadding h4{
	margin-top: 15px;
	font-family: latobold;
	text-transform: uppercase;
	font-size: 14px;
}

.linkNews{
	color: #333;
}