{% extends "ChouetteCoopAdminBundle::layout.html.twig" %}

{% block menu %}

{% endblock %}

{% block content %}
<div class="container-fluid bandGrey">
    <div class="container">
        <br />
        <br />
        <div class="row top-buffer">
            <h1>Inscription nouveau Chouettos</h1>
        </div>

        <form id="inscriptionChouettos" method="post" action="{{ path('glukose_contact_add') }}">
            <div class="row top-buffer">
                <div class="col-md-6">
                    <div class="card">
                        <div class="form-group">
                            <label class="control-label" for="inputNormal">Civilité</label>
                            <select name="civiliteC" class="form-control" required>
                                <option value="mme">Madame</option>
                                <option value="mr">Monsieur</option>
                                <option value="" />
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputNormal">Nom</label>
                                    <input id="inputNormal" type="text" name="nomC" class="form-control" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputNormal">Prénom</label>
                                    <input id="inputNormal" type="text" name="prenomC" class="form-control" required/>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputNormal">Tel. portable</label>
                                    <input id="inputNormal" type="text" name="telC" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputNormal">Date naissance (JJ/MM/AAAA )</label>
                                    <input id="inputNormal" type="text" name="dateNaissanceC" class="form-control"required placeholder="31/12/1990" />
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <label class="control-label" for="inputNormal">Email</label>
                            <input id="inputNormal" type="text" name="emailC" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputNormal">Mot de passe</label>
                            <input id="inputNormal" type="password" name="passwordC" class="form-control" required />
                        </div>


                    </div>
                    <div class="card top-buffer">
                        <h3>Adhésion</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputNormal">Type paiement</label>
                                    <select name="typePC" class="form-control" required>
                                        <option value="" />
                                        <option value="especes">especes</option>
                                        <option value="cheque">cheque</option>
                                        <option value="cb">cb</option>
                                        <option value="helloAsso">helloAsso</option>
                                        <option value="virement">virement</option>
                                        <option value="solViolette">solViolette</option>
                                        <option value="autre">autre</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="inputNormal">Année civile</label>
                                    <input id="inputNormal" type="text" name="anneeCC" class="form-control" required value="{{ date('now')| date('Y')}}"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="inputNormal">Montant</label>
                                    <input id="inputNormal" type="text" name="montantCC" class="form-control" required />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="center top-buffer">
                        <input class="btn btn-primary" type="submit" value="Valider inscription" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>



{% endblock %}


{% block jquery %}

{% endblock %}
