<a  class="btn btn-sm btn-default"
    href="{{ admin.generateObjectUrl('generate', object) }}"
    title="{{ 'Générer'|trans({}, 'default') }}"
    alt="{{ 'Générer'|trans({}, 'default') }}">
    <i class="fa fa-plus-square"></i>
</a>

