{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
<div>
    {% if object.frequence == "1" %}
    <span class="label label-primary"> A </span>
    {% elseif object.frequence == "2" %}
        <span class="label label-info"> B </span>
    {% elseif object.frequence == "3" %}
        <span class="label label-warning"> C </span>
    {% elseif object.frequence == "4" %}
        <span class="label label-success"> D </span>
    {% endif %}
</div>
{% endblock %}