{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
<div>
    {% if object.frequence == "1" %}
    <span class="label label-primary"> Modèle principal (A) </span>
    {% elseif object.frequence == "2" %}
        <span class="label label-info"> Modèle vacances (B) </span>
    {% elseif object.frequence == "3" %}
        <span class="label label-warning"> 1 semaine sur 4 (C) </span>
    {% endif %}
</div>
{% endblock %}