{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
<div>
    {% if object.confirmationToken != '' %}
    <a href="https://adminchouettos.lachouettecoop.fr/resetting/reset/{{object.confirmationToken}}" target="_blank" class="btn btn-default"> Changer mot de passe </a>
    {% endif %}
</div>
{% endblock %}
