{% extends "ChouetteCoopAdminBundle::layout.html.twig" %}

{% block menu %}

{% endblock %}

{% block content %}
<div class="container-fluid bandGrey">
    <div class="container">
        <br />
        <br />
        <div class="row top-buffer">
            <h1>Chouettos Admin</h1>
        </div>
        <br />


        <div class="card">
            <div class="row top-buffer valign">
                <div class="col-md-3">
                    <a href="{{path('fos_user_security_login')}}"> <i class="glyphicon glyphicon-user"></i> Connexion </a>
                </div>

                <div class="col-md-3">
                    <a href="{{path('fos_user_resetting_request')}}"> Changement de mot de passe </a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block jquery %}

{% endblock %}