{% extends "template_email.html.twig" %}


Bonjour,<br/>

<p>Nous adressons automatiquement ce message tous les quatre mois aux personnes qui sont en pause de PIAF mais peuvent toujours faire leurs courses, pour rappel qu’il n’y a pas de date de fin prévue à ce statut qui n’est par ailleurs pas contrôlé par La Chouette Coop. Il t’appartiendra donc de mettre fin à cette période de dispense de participation au magasin lorsque cela te sera possible, ce qui se fait lorsque l’on badge à l’entrée du magasin ou par l’outil planning en cliquant sur « Je reprends ma participation ».
</p>

À bientôt à La Chouette,<br/><br/>

Le Bureau Des Membres de La Chouette Coop
