{% extends "template_email.html.twig" %}

Bonjour, <br/><br/>

Nous adressons ce message tous les quatre mois aux personnes « Chouette en alerte », qui accusent un retard de plus deux de PIAF non effectuées sur le nombre de PIAF attendues – ce qui n’autorise plus à faire les courses au magasin - pour rappel de plusieurs possibilités :
<ol>
    <li><b>Si tu souhaites poursuivre ta participation et faire des courses à La Chouette Coop </b>:</li>
<ul>
    <li>tu peux rattraper ton retard en effectuant plusieurs PIAF (tu peux t’inscrire sur le <a href="https://planning.lachouettecoop.fr/home">planning</a> jusqu’à trois fois dans la semaine et deux fois par jour).</li> 
<li>tu peux saisir la Commission Participation depuis l’outil planning ; cette commission a pour mission d’étudier les possibilités pour permettre à chacun de reprendre sa participation à la Chouette. Saisir la commission permet de faire ses courses au magasin.</li>
</ul>
<li><b>Si tu souhaites te mettre en retrait de la Chouette </b>: tu peux demander à être mis en pause, depuis l’outil planning, onglet profil, en cliquant sur le lien « Tu ne peux pas faire tes PIAF pendant au moins deux mois ». Tu seras alors mis en pause jusqu’à ce que tu décides de reprendre ta participation ; le compteur des PIAF restera en l’état.</li>

<li><b>Si tu souhaites quitter la Chouette Coop </b>:
    tu peux adresser un mail de démission au Bureau Des Membres et soit demander le remboursement de tes parts (ce qui est effectif à la suite de l’AG de juin fixant la valeur des parts), soit faire don de tes parts à la coopérative.</li>
</ol>
Chouettes salutations,<br/><br/>
Le Bureau Des Membres de La Chouette Coop<br/>
bureau-des-membres@lachouettecoop.fr
