{% extends "template_email.html.twig" %}

{% block titre %}Informations relative à votre période d'éssai{% endblock %}

{% block introduction %}

    <p style="margin: 0;font-size: 16px;line-height: 14px;">

<b>Bonjour, </b><br/><br/>
       
        Dans une semaine ta période d'essai va expirer et tu ne pourras plus faire tes courses au magasin.<br/>
Nous espérons que cette immersion t'a permis d'avoir une idée plus précise de ce qu'est La Chouette Coop et que tu as envie de poursuivre l'aventure. Si c'est le cas super nouvelle !!
<br/><br/>
En fonction de ton parcours, voici la marche à suivre:
</p>

        <ul style="font-size: 16px;"><li>
Tu as déjà participé à une réunion d'accueil avant de réaliser ta période d'essai : nous t'invitons à t'inscrire d'ores-et-déjà à un atelier de souscription pour devenir coopérateur.rice (lien : )         
        </li><li>
Tu n'as jamais participé à une réunion d'accueil: inscris-toi dès à présent à une d'entre elles prévues ces prochaines semaines (lien : ); A la fin de celle-ci tu pourras souscrire.         
</li></ul>
<br/><br/>
    <p style="margin: 0;font-size: 16px;line-height: 14px;">
        Dans le cas où ton expérience pendant la période d'essai ne t'aurait pas donné envie de poursuivre l'aventure dans le supermarché, nous en sommes désolé.e.s et nous aimerions, si tu le veux bien, que tu puisses nous donner les motifs qui te poussent à ne pas rester : (lien vers questionnaire)
        <br/><br/>
Si jamais tu venais à changer d'avis, n'hésite pas à nous écrire dans les prochaines semaines ou mois à <a href="mailto:bureau-des-membres@lachouettecoop.fr"> bureau-des-membres@lachouettecoop.fr</a>.

<br /><br />
           A bientôt.<br /><br />

        La Chouette Coop<br />
    </p>


{% endblock %}

