{% extends "template_email.html.twig" %}

{% block titre %}Bienvenu·e à la chouette en période d'éssai {% endblock %}

{% block introduction %}

    <p style="margin: 0;font-size: 16px;line-height: 14px;">

    Tu as souhaité faire une période d'essai à La Chouette Coop pour la découvrir. 
<br/>
BIENVENU·E!

<br/><br/>
Pendant ces deux mois, tu peux donc faire tes courses au magasin, découvrir notre organisation, nos membres, le fonctionnement de nos groupes et bien évidemment tu dois y faire tes deux Participation Indispensables Au Fonctionnement (PIAF de 3 heures).
<br/><br/>
Nous serons heureux de t'y retrouver et n'hésite pas à échanger avec tous·tes les Chouettos que tu vas croiser. Tu peux aussi poser des questions ou faire des propositions au groupe Bureau des Membres si tu le souhaites (<a href="mailto:bureau-des-membres@lachouettecoop.fr"> bureau-des-membres@lachouettecoop.fr</a>)
 <br /><br />
           A bientôt.<br /><br />

        La Chouette Coop<br />
    </p>


{% endblock %}

