Voici la marche à suivre pour devenir membre à part entière :
</p>
<ul style="font-size: 16px;">
<li>Tu as déjà participé à une réunion d'accueil avant de réaliser ta période d'essai : nous t'invitons à t'inscrire d'ores et déjà à un atelier de souscription pour devenir coopérateur·ice : <a href="">https://framaforms.org/inscription-reunions-daccueil-la-chouette-coop-1556050737</a>. La souscription se déroule dans les 20 dernières minutes de la réunion d'accueil.</li>
<li>
Tu n'as jamais participé à une réunion d'accueil : inscris-toi dès à présent à l'une d'entre elles prévues ces prochaines semaines (<a href="">https://framaforms.org/inscription-reunions-daccueil-la-chouette-coop-1556050737</a>) ; À la fin de celle-ci tu pourras souscrire.
</li>
</ul>
<br/><br/>
    <p style="margin: 0;font-size: 16px;line-height: 14px;">
        Dans le cas où ton expérience pendant la période d'essai ne t'aurait pas donné envie de poursuivre l'aventure dans le supermarché, nous en sommes désolé·e·s. Pour continuer d'améliorer l'expérience collective, nous aimerions connaître les raisons qui te poussent à ne pas rester : <a href="https://framaforms.org/questionnaire-satisfaction-periode-dessai-1675260687">https://framaforms.org/questionnaire-satisfaction-periode-dessai-1675260687</a>.
        <br/><br/>
Si jamais tu venais à changer d'avis, n'hésite pas à nous écrire dans les prochaines semaines ou mois à <a href="mailto:bureau-des-membres@lachouettecoop.fr">bureau-des-membres@lachouettecoop.fr</a>.

<br /><br />
           À bientôt.<br /><br />

        La Chouette Coop<br />
    </p>
